<template>
  <Page actionBarHidden="true">
    <Gradient direction="to right" colors="#39B994, #337FC7">
      <Button text="Logout" @tap="logout" class="logoutbtn" />
      <StackLayout class="container">
        <FlexboxLayout flexDirection="column" justifyContent="center" class="full-height">
          <Image src="~/src/images/plugescolalogo1.png" stretch="aspectFill" class="logoplugH"></Image>

          <Label text="Aluno e Matricula:" />

          <Label text="Bem vindo ao notificador!" class="version1" />
          <Label text="As notificações ja estão ativas!" class="version1" />

          <Label text="Clique em uma notificação" class="version2" />
          <Label text="para mais detalhes!!" class="version2" />

          <FLexboxLayout alignItems="auto" class="border-bottom">
            <ListView
              for="(push,k7) in vux.notificacoes"
              id="lista"
              ref="lista"
              @itemTap="onItemTap"
            >
              <v-template>
                <card-view margin="10" elevation="40" radius="1">
                  <stack-layout>
                    <Label
                      v-if="k7 !== nofi"
                      color="blue"
                      :text="push.data + ' ' + push.titulo"
                      textWrap="true"
                      class="t10"
                    />
                    <Label
                      v-if="k7 === nofi"
                      color="green"
                      :text="push.titulo + ' ' + push.mensagem"
                      textWrap="true"
                      class="t10"
                    />
                  </stack-layout>
                </card-view>
              </v-template>
            </ListView>
          </FLexboxLayout>
        </FlexboxLayout>
      </StackLayout>
    </Gradient>
  </Page>
</template>

<script>
import Vue from "vue";
import axios from "axios";
import  { getString, setString }from "tns-core-modules/application-settings";
import vx from "../../store";

export default {
  name: "Home",

  data() {
    return {
      vux: vx.state,
      nofi: -1
    };
  },
  created() {
    console.log("TIME IS MONEY");
    axios
      .post(
        "http://iese.dev.plugescola.com.br/rest/notificador.php?op=messages&tokenid=egmyv267pfI:APA91bFT3JMsUy8ZVr6p4Vb447_jZk4nQbS1fAZIT_rQQoxRUUhnzkC_3ZvqFc_F9D5lArPAbWO7K-undriy8_xEUyqDZqLVvqQHGCtNYu899-k3EOuN76b_2pvJJ84hg6ReuiZpRIen",
        {
          tokenId: this.globo.tokenId
        }
      )
      .then(response => {
        console.log("bateu e respondeu!");
        console.log(response.data);
        const { mensagens } = response.data;
        this.vux.notificacoes = mensagens;
      });
  },
  methods: {
    // BOTÃO LOGOUT (DEPOIS MUDAR PARA FECHAR APP)
    logout() {
      this.globo.tokenPersist = setString("tokenPersist", "");
      this.globo.estado = "Login";
    },
    // REFRESH LISTVIEW
    onItemTap: function(args) {
      this.nofi = args.index;
      this.$refs.lista.refresh();
    }
  },
  props: {
    globo: Object
  }
};
</script>

<style scoped>
.logoutbtn {
  background-color: rgb(90, 124, 124);
  font-weight: bold;
  border-radius: 25;
  position: relative;
  top: 90px;
  left: 50;
  width: 200px;
  height: 90px;
}

.logoplugH {
  width: 500px;
  height: 150px;
  margin-bottom: 2;
  margin-top: 10;
}

.version1 {
  font-size: 23;
  color: aliceblue;
  margin-bottom: 2;
}

.version2 {
  font-size: 20;
  color: aliceblue;
  margin-bottom: 9;
}
.version3 {
  font-size: 15;
  color: red;
  margin-bottom: 9;
}
</style>