<template>
  <Page actionBarHidden="true">
    <ActionBar title="LOGIN SCREEN " class="tokeen" />
    <Gradient direction="to right" colors="#39B994, #337FC7">
      <StackLayout class="container">
        <FlexboxLayout flexDirection="column" justifyContent="center" class="full-height">
          <Image src="~/src/images/plugescolalogo1.png" stretch="aspectFill" class="logoplug"></Image>
          <Label v-if="registroSucesso" :text="registroSucesso" class="registroSucessoCSS" />
          <Label v-if="errorMensagem" :text="errorMensagem" class="errorMensagemcss" />

          <FLexboxLayout alignItems="center" class="border-bottom">
            <TextField v-model="codigoInput" hint="Escola" class="form-input" />
            <Image src="~/src/images/schoolinput.png" width="36" height="36" class="icon-margin" />
          </FLexboxLayout>

          <FLexboxLayout alignItems="center" class="border-bottom">
            <TextField v-model="globo.userInGlob" hint="Matricula" class="form-input" />
            <Image src="~/src/images/userinput1.png" width="36" height="36" class="icon-margin" />
          </FLexboxLayout>

          <FLexboxLayout alignItems="center" class="border-bottom">
            <TextField
              v-model="senhaInput"
              hint="Senha"
              class="form-input"
              :secure="securePassword"
            />
            <Image
              src="~/src/images/eyepassicon.png"
              @tap="eyepass"
              width="90"
              height="40"
              class="eye-pass"
            />
          </FLexboxLayout>

          <ActivityIndicator :busy="loading" color="white" />
          <Button text="Registrar" @tap="registro" class="my-button" />

          <TextField hint="Token aqui" :text="globo.tokenId" class="tokeen" />
        </FlexboxLayout>
      </StackLayout>
    </Gradient>
  </Page>
</template>

<script >
//IMPORTAÇÕES
import Home from "./Home";
import axios from "axios";
import * as Toast from "nativescript-toast";
import { getString, setString } from "tns-core-modules/application-settings";

export default {
  data() {
    return {
      //INPUTS
      codigoInput: "",
      senhaInput: "",
      //SPINNER
      loading: false,
      //MENSAGENS DE ENTRADA/ERRO
      errorMensagem: "",
      registroSucesso: "",
      securePassword: true
    };
  },

  created() {},

  methods: {
    eyepass() {
      this.securePassword = !this.securePassword;
    },
    registro() {
      //SPINNER
      this.loading = true;
      //COMUNICAÇÃO COM A API
      axios
        .post("http://iese.dev.plugescola.com.br/rest/notificador.php/", {
          codigo: this.codigoInput,
          op: "registra",
          usuario: this.globo.userInGlob,
          senha: this.senhaInput,
          tipo: "A",
          tokenId: this.globo.tokenId
        })
        .then(
          response => {
            this.registroSucesso = msg;
            this.loading = false;
            console.log(response.data);
            const { msg } = response.data;
            //SUCESSO NA AUTENTICAÇÃO
            if (response.data.ok) {
              Toast.makeText(msg, "long").show();
              this.globo.estado = "Home";
              setString("tokenPersist", this.globo.tokenId);
              setString("saveUser", this.globo.UserInglob);
              this.registroSucesso = msg;
            } else {
              //ERRO DE AUTENTCAÇÃO
              this.errorMensagem = msg;
              Toast.makeText(msg, "long").show();
            }
          },
          error => {
            //ERRO COM A INTERNET
            alert("Sem comunicação com a internet");
            console.log(error);
          }
        );
    }
  },
  props: {
    globo: Object
  }
};
</script>

<style>
.icon-margin {
  margin-right: 10;
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.logoplug {
  width: 800;
  height: 60;
  margin-bottom: 50;
}
.border-bottom {
  border-bottom-width: 1;
  border-bottom-color: white;
  margin-bottom: 9;
  padding-bottom: 7;
}
.registroSucessoCSS {
  background-color: rgb(75, 247, 98);
  color: green;
  margin-bottom: 12px;
  font-size: 16px;
  padding: 10px 16px;
  border-radius: 4px;
}
.errorMensagemcss {
  margin-bottom: 12px;
  font-size: 16;
  padding: 10px 16px;
  background: rgb(218, 156, 156);
  border-radius: 4px;
  color: rgb(212, 22, 22) (189, 122, 122);
}

.form-input {
  margin-bottom: -9;
  border-bottom-color: aliceblue;
  width: 280;
  height: 60;
  color: white;
  placeholder-color: white;
}

.my-button {
  background-color: rgb(44, 247, 247);
  font-weight: bold;
  border-radius: 25;
  padding-top: 14;
  padding-bottom: 15;
  text-transform: uppercase;
  letter-spacing: 0.3;
}
.full-height {
  height: 100%;
}
.container {
  margin-left: 34;
  margin-right: 34;
}
.tokeen {
  visibility: hidden;
}
</style>

