<template>
  <Page>
    <StackLayout>
      <Frame>
        <Login v-if="globo.estado === 'Login'" :globo="globo" />
        <Home v-if="globo.estado === 'Home'" :globo="globo" />
      </Frame>
    </StackLayout>
  </Page>
</template>

<script >
import Vue from "vue";
import Home from "../src/pages/Home";
import Login from "../src/pages/Login";
import * as firebase from "nativescript-plugin-firebase";
import { getString, setString } from "tns-core-modules/application-settings";
import vx from "../store";

Vue.component("Login", Login);
Vue.component("Home", Home);

export default {
  name: "app",
  // TAMBEM CONHECIDO COMO STATE NO REACT
  data() {
    return {
      vux: vx.state,
      globo: {
        saveUser: "",
        userInGlob: "",
        estado: "",
        tokenId: "",
        tokenPersist: "",
        meuspush: ""
      }
    };
  },

  created() {
    // INICIA O FIREBASE
    this.iniciafire();
    //SALVA O TOKEN E NAVEGA
    this.globo.estado = getString("tokenPersist") ? "Home" : "Login";
  },

  methods: {
    iniciafire() {
      firebase
        .init({
          showNotifications: true,
          showNotificationsWhenInForeground: true,

          //GERA O TOKENID
          onPushTokenReceivedCallback: token => {
            console.log("[Firebase] onPushTokenReceivedCallback:", { token });
            this.globo.tokenId = token;
          },

          // NOTIFICAÇÃO EM FOREGROUND
          onMessageReceivedCallback: message => {
            console.log(message.toString());
            this.vux.notificacoes.push({
              data: message.data,
              titulo: message.title,
              mensagem: message.body
            });
          }
        })
        .then(() => {
          console.log("[Firebase] Initialized");
        })
        .catch(error => {
          console.log("[Firebase] Initialize", { error });
        });
    }
  }
};
</script>


